/* Software.css */
.software-section {
  padding: 10px 0;
  background-color: var(--white);
}

.software-section .container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10 15px;
}

.software-section .section-title {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--dark);
  margin-bottom: 20px;
  position: relative;
}

.software-section .section-title:after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 4px;
  background-color: var(--primary);
}

.software-grid {
  display: flex;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px;
  padding-bottom: 40px;
}

.software-card {
  width: 20%;
  background-color: var(--light-bg);
  border-radius: 10px;
  padding: 10px 10px;

  text-align: center;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.software-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 13px 25px rgba(0, 0, 0, 0.1);
}

.software-icon {
  width: 70px;
  height: 70px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-bg);
  border-radius: 50%;
}

.software-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}


.software-name {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dark);
  margin-bottom: 10px;
}

.software-description {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  color: var(--gray);
  line-height: 1.6;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .software-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .software-grid {
    grid-template-columns: 1fr;
  }
}
